html{
    font-size: 62.5% //this is 10 pixels (16*0.625)
}

body{
    background: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;  
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.is-active{
    font-weight: bold;
}